<div class="pad15"></div>
<!-- Comments -->
<h3>{{ 'title_comments'|trans({}, 'SonataNewsBundle') }}</h3>
<div class="pad5"></div>


{% for comment in pager.results %}
<div class="media">
    <div class="media-body">
        <p class="media-heading">
            {% if comment.url is defined and comment.url != '' %}
            <a href="{{ comment.url }}">{{ comment.name }}</a> {{ comment.createdAt | format_date }} <a href="{{ comment.url }}"><i class="icon-mail-forward"></i></a>
            {% else %}
            {{ comment.name }} {{ comment.createdAt | format_date }}
            {% endif %}
        </p>
        {{ comment.message }}
    </div>
</div>
{% else %}
    <div class="media">
        <div class="media-body">
            {{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}
        </div>
    </div>
    <li></li>
{% endfor %}
<div class="pad45"></div>
