<?xml version="1.0" ?>
<rss version="2.0">
    <channel>
        <title>{{ blog.title }}{%if tag %} : {{ tag.name }}{%endif%}</title>
        <link>{{ blog.link }}</link>
        <description>{{ blog.description }}</description>
        {% for post in pager.getCurrentPageResults() %}
            <item>
                <title>{{ post.title }}</title>
                <link>{{ url('rz_news_view', { 'permalink': post.slug, '_format': 'html' }) }}</link>
                <description><![CDATA[ {{ post.abstract }} ]]></description>
                <pubDate>{{ post.publicationDateStart | format_datetime('eee, MM LLL yyyy HH:mm:ss zzz')}}</pubDate>
                <gui>{{ url('rz_news_view', { 'permalink': post.slug, '_format': 'html' }) }}</gui>
            </item>
        {% endfor %}
    </channel>
</rss>
