{% block post_container_top %}{% endblock post_container_top %}
{% block post_body %}
{% spaceless %}
<div id="posts">
    {% for post in pager.getCurrentPageResults() %}
        {% if enable_category_canonical_page is defined and enable_category_canonical_page == true %}
            {% set post_url = url('rz_news_category_view', { 'category':  rz_classification_category_permalink(category), 'permalink': post.slug, '_format': 'html' }) %}
        {% else %}
            {% set post_url = url('rz_news_view', { 'permalink': post.slug, '_format': 'html' }) %}
        {% endif %}

        <div class="pad20"></div>
        {% block post_media %}
        {% if post.image %}
            {% if post.image.providerName  == 'sonata.media.provider.image' %}
                <div class="hover_img">
                    <a href="{%  path post.image, 'reference' %}" data-rel="prettyPhoto"><img src="{%  path post.image, 'reference' %}" alt=""/></a>
                </div>
            {% else %}
                <div class="vendor">
                    {% media post.image, 'reference' %}
                </div>
            {% endif %}
        {% endif %}
        {% endblock post_media %}

        {% block post_title %}
        <h1 class="blog"><a href="{{ post_url }}">{{ post.title }}</a></h1>
        {% endblock post_title %}

        {% block post_title_details %}
        <h4><b>{{ post.publicationDateStart | format_date }}</b> |  <b>{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</b> </h4>
        {% endblock post_title_details %}

        {% block post_abstract %}
        <p>{{ post.abstract }}</p>
        {% endblock post_abstract %}

        {% block post_tags %}
        <div class="post-meta muted">
            <ul>
                <li>Tags: </li>
                <li>
                    {% for tag in post.tags %}
                        <a href="{{ url('rz_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% endblock post_tags %}

        {% block post_read_more %}
        <h4><a href="{{ url('rz_news_view', { 'permalink':  post.slug, '_format': 'html' }) }}"><b>READ &rarr;</b></a></h4>
        {% endblock post_read_more %}
        <!--end post-->
        <div class="pad30"></div>
    {% else %}
        <div class="row-fluid sonata-blog-post-list">
            <div class="span12">
                {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
            </div>
        </div>
    {% endfor %}
</div>
{% endspaceless %}
{% endblock post_body %}

{% block post_paginator %}{% endblock post_paginator %}

{% block post_container_bottom %}{% endblock post_container_bottom %}


{% block post_javascripts %}
<script>
    jQuery(document).ready(function(){
        jQuery('.vendor').fitVids({ customSelector: "iframe[src^='http://www.dailymotion.com']"});
    });
</script>
{% endblock post_javascripts %}

{% block post_stylesheet %}{% endblock post_stylesheet %}
