{% extends rz_admin_get_template('rz_news.template.news_layout_html') %}

{% block post_title %}
    <h1 class="blog"><a href="{{ url('rz_news_tag_view', { 'tag':  tag.slug, 'permalink': post.slug, '_format': 'html' }) }}">{{ post.title }}</a></h1>
{% endblock post_title %}

{% block post_read_more %}
    <h4><a href="{{ url('rz_news_tag_view', { 'tag':  tag.slug, 'permalink': post.slug, '_format': 'html' }) }}"><b>READ &rarr;</b></a></h4>
{% endblock post_read_more %}

{% block post_paginator %}
    {% if pager.haveToPaginate %}
        {% spaceless %}
            <div id="load_more_container" class="pagination">
                {% if is_ajax_pagination %}
                <ul class="span12">
                    {% if pager.nextpage %}
                        <li style="text-align: center;">
                            <a id="load_more_button"
                               class="btn btn-rzcms-theme"
                               href="{{ url('rz_news_tag_loadmore', {'page': pager.nextpage, 'tag': tag.slug }) }}"
                               title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">Load More</a>
                        </li>
                    {% endif %}
                </ul>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        var rz_news_post_loadmore_js = new rz_news_post_loadmore({
                            load_more_container: "load_more_container",
                            load_more_button: "load_more_button",
                            field_container: 'posts'
                        });
                    });
                </script>
                {% else %}
                <ul class="span12">
                    {% if pager.previouspage %}
                        <li class="pull-left">
                            <a class="btn btn-rzcms-theme"
                               href="{{ url('rz_news_tag_pager',{'page': pager.previouspage, 'tag': tag.slug }) }}"
                               title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if pager.nextpage %}
                        <li class="pull-right">
                            <a class="btn btn-rzcms-theme"
                               href="{{ url('rz_news_tag_pager', {'page': pager.nextpage, 'tag': tag.slug }) }}"
                               title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        {% endspaceless %}
    {% endif %}
    <div class="clearfix"></div>
{% endblock post_paginator %}