{% if post.settings.location %}
<style>
    html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        min-height: 400px;

    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    var map;
    function initialize() {
        var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng({{ post.settings.location.lat }}, {{ post.settings.location.lng }})
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endif %}
<div class="container">
    {% block sonata_page_breadcrumb %}
        {% if category is defined %}
            {{ sonata_block_render_event('breadcrumb', { 'context': 'post_by_category_view_breadcrumb', 'category': category, 'post' : post, 'blog' : blog, 'current_uri': app.request.requestUri, 'container_attr': {'class': 'breadcrumb'}, 'separator': '<i class="icon-angle-right"></i>', 'current_class': 'active' }) }}
        {% elseif tag is  defined %}
            {{ sonata_block_render_event('breadcrumb', { 'context': 'post_by_tag_view_breadcrumb', 'tag': tag, 'post' : post, 'blog' : blog, 'current_uri': app.request.requestUri, 'container_attr': {'class': 'breadcrumb'}, 'separator': '<i class="icon-angle-right"></i>', 'current_class': 'active' }) }}
        {% endif %}
    {% endblock %}
    {% block post_view_body %}
    <div class="row-fluid post-container">
        <div class="span12">
            {% if post.image %}
                {% if post.image.providerName  == 'sonata.media.provider.image' %}
                    <div class="hover_img">
                        <a href="{%  path post.image, 'reference' %}" data-rel="prettyPhoto"><img src="{%  path post.image, 'reference' %}" alt=""/></a>
                    </div>
                {% else %}
                    <div class="vendor">
                        {% media post.image, 'reference' %}
                    </div>
                {% endif %}
            {% endif %}
            <h1>{{ post.title }}</h1>
            <h2 class="center">
                {{ post.publicationDateStart | format_date }} {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}
            </h2>
            {% if post.postHasCategory | length > 0 %}
                <h3 class="center">
                    {% for postHasCategory in post.postHasCategory %}
                        {% if postHasCategory.enabled %}
                            {% if not is_controller_enabled and postHasCategory.category.page %}
                                {% set category_url = rz_render_page_alias_url(postHasCategory.category.page.getPageAlias()) %}
                                {% if  category_url %}
                                    <a href="{{ url(category_url) }}">{{ postHasCategory.category.name }}</a>{% if not loop.last %}, {% endif %}
                                {% else %}
                                    <a href="#">{{ postHasCategory.category.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endif %}
                            {% elseif is_controller_enabled  %}
                                {% if postHasCategory.enabled %}
                                    <a href="{{ url('rz_news_category', { 'permalink': rz_classification_category_permalink(postHasCategory.category) } ) }}">{{ postHasCategory.category.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endif %}
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </h3>
            {% endif %}
            <h4 class="center">
                <i class="icon-tags grey"></i>
                {% for tag in post.tags %}
                    <a href="{{ url('rz_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </h4>
            <div class="pad25"></div>
            {{ post.content|raw }}
            <div class="pad25"></div>
            {% if post.settings.start_date %}
                <div class="cont-table">
                    <ul>
                        <li class="cont-header-row-1">
                            <h4>{{ post.title }}</h4>
                        </li>
                        <li class="cont-content-row-odd" style="text-align: left; padding-left: 20px;">
                            EVENT DATES: {{ post.settings.start_date.month ~ '/' ~  post.settings.start_date.day ~ '/' ~  post.settings.start_date.year  }} - {{ post.settings.end_date.month ~ '/' ~  post.settings.end_date.day ~ '/' ~  post.settings.end_date.year  }}
                        </li>
                        <li class="cont-content-row-even" style="text-align: left; padding-left: 20px;">
                            ADDRESS: {{ post.settings.address }}
                        </li>
                        {% if post.settings.location %}
                        <li class="cont-content-row-even">
                            <strong>LOCATION MAP</strong>
                            <div id="map-canvas" class="span12"></div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>
    {% endblock post_view_body %}
</div>
{% block post_comment %}
{% if post.iscommentable %}
    <article class="sonata-blog-post-container">
        {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

        {% if post.iscommentable %}
            {% render(controller('SonataNewsBundle:Post:addCommentForm', {
            'postId': post.id,
            'form': form
            })) %}
        {% else %}
            <div>
                {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
            </div>
        {% endif %}
    </article>
{% endif %}
{% endblock post_comment %}
