{#{% macro recursiveCategory(category) %}#}
    {#{{ block('rz_news_category_choice_child_open') }}#}
    {#{% if category.vars.name == 'placeholder' %}#}
        {#{{ form_label(category, category.vars.label|default(null), { 'in_list_checkbox' : true, 'widget' : form_widget(category) } ) }}#}
    {#{% else %}#}
        {#{{ dump(category.vars.label.id) }}#}
    {#{% endif %}#}
    {#&#123;&#35;{{ form_widget(form) }}&#35;&#125;#}
    {#&#123;&#35;{{ form_label(category) }}&#35;&#125;#}

    {#&#123;&#35;{% if category.__children|length %}&#35;&#125;#}
    {#&#123;&#35;<ul>&#35;&#125;#}
    {#&#123;&#35;{% for child in category.__children %}&#35;&#125;#}
    {#&#123;&#35;{{ _self.recursiveCategory(child, vars) }}&#35;&#125;#}
    {#&#123;&#35;{% endfor %}&#35;&#125;#}
    {#&#123;&#35;</ul>&#35;&#125;#}
    {#&#123;&#35;{% endif %}&#35;&#125;#}
    {#{{ block('rz_news_category_choice_child_close') }}#}
{#{% endmacro %}#}

{#{% block rz_news_category_choice_widget %}#}
    {#{% spaceless %}#}
        {#<div id="tree_{{ id }}">#}
            {#{{ block('rz_news_category_choice_root_open') }}#}
                {#{% for child in form %}#}
                    {#{{ _self.recursiveCategory(child) }}#}
                {#{% endfor %}#}
            {#{{ block('rz_news_category_choice_root_close') }}#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock rz_news_category_choice_widget %}#}



{#{% macro recursiveCategory(category) %}#}
    {#{{ block('rz_news_category_choice_child_open') }}#}
        {#{% if category.vars.name == 'placeholder' %}#}
            {#{{ form_label(category, category.vars.label|default(null), { 'in_list_checkbox' : true, 'widget' : form_widget(category) } ) }}#}
        {#{% else %}#}
            {#{{ dump(category.vars.label.id) }}#}
        {#{% endif %}#}
            {#&#123;&#35;{{ form_widget(form) }}&#35;&#125;#}
            {#&#123;&#35;{{ form_label(category) }}&#35;&#125;#}

        {#&#123;&#35;{% if category.__children|length %}&#35;&#125;#}
            {#&#123;&#35;<ul>&#35;&#125;#}
                {#&#123;&#35;{% for child in category.__children %}&#35;&#125;#}
                    {#&#123;&#35;{{ _self.recursiveCategory(child, vars) }}&#35;&#125;#}
                {#&#123;&#35;{% endfor %}&#35;&#125;#}
            {#&#123;&#35;</ul>&#35;&#125;#}
        {#&#123;&#35;{% endif %}&#35;&#125;#}
    {#{{ block('rz_news_category_choice_child_close') }}#}
{#{% endmacro %}#}

{% block rz_news_category_choice_root_open %}
    <ul class="unstyled">
{% endblock rz_news_category_choice_root_open %}

{% block rz_news_category_choice_root_close %}
    </ul>
{% endblock rz_news_category_choice_root_close %}

{% block rz_news_category_choice_child_open %}
    <li>
{% endblock rz_news_category_choice_child_open %}

{% block rz_news_category_choice_child_close %}
    </li>
{% endblock rz_news_category_choice_child_close %}

