{% extends 'RzAdminBundle:CRUD:base_list_masonry.html.twig' %}

{% block preview %}{% endblock %}
{% block list_filters_standard %}{% endblock list_filters_standard %}

{% block list_table_standard %}
<div class="sonata-ba-list span12">
    {% if admin.isChild %}
        <div class="box box-color green box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-film"></i>
                    {{ 'list.label_post_has_category'|trans({}, 'RzNewsBundle') }}
                </h3>
                <div class="actions">
                    <a href="{{ path('admin_sonata_news_post_show', {'id':app.request.get('id')}) }}" class="btn btn-mini"><i class="icon-eye-open"></i></a>
                    <a href="{{ path('admin_sonata_news_post_edit', {'id':app.request.get('id')}) }}" class="btn btn-mini"><i class="icon-pencil"></i></a>
                </div>
            </div>
            <div class="box-content nopadding">
            </div>
        </div>

        {% set post = admin.parent.subject %}
        {% if post %}
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered rz-admin-show-table">
                        <tr class="sonata-ba-view-container">
                            <td style="width:40%">{{ 'form.label_collection'|trans({}, 'RzNewsBundle') }}</td>
                            <td style="width:60%">{{ post.collection.name }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <td style="width:40%">{{ 'form.label_title'|trans({}, 'RzNewsBundle') }}</td>
                            <td style="width:60%">{{ post.title }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <td style="width:40%">{{ 'form.label_slug'|trans({}, 'RzNewsBundle') }}</td>
                            <td style="width:60%">{{ post.slug }}</td>
                        </tr>

                        <tr class="sonata-ba-view-container">
                            <td style="width:40%">{{ 'form.label_enabled'|trans({}, 'RzNewsBundle') }}</td>
                            <td style="width:60%">{% if post.enabled %}<i class="icon-ok-sign icon-large"></i>{% else %}<i class="icon-remove-sign icon-large"></i>{% endif %}</td>
                        </tr>

                        {% if post.image %}
                            <tr class="sonata-ba-view-container">
                                <td style="width:40%">{{ 'form.label_image'|trans({}, 'RzNewsBundle') }}</td>
                                <td style="width:60%">{% media post.image, 'admin' %}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if admin.isChild %}
        <div class="row-fluid admin-action-buttons">
            <div class="span12">
                <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
                    <a class="btn btn-primary sonata-action-element" href="{{ path('admin_sonata_news_post_list') }}">
                        <i class="icon-list"></i>
                        {{ 'list.post_list'|trans({}, 'RzNewsBundle') }}
                    </a>
                    {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
                </div>
                <div class="btn-group visible-phone visible-tablet hidden-desktop  pull-right">
                    <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sonata-action-element" href="{{ path('admin_sonata_news_post_list') }}">
                                <i class="icon-list"></i>
                                {{ 'list.post_list'|trans({}, 'RzNewsBundle') }}</a>
                        </li>
                        {% include 'SonataAdminBundle:Button:create_button_mobile.html.twig' %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="box box-color box-bordered">
        <div class="box-title">
            <h3>
                <i class="icon-film"></i>
                {# TODO: set on configuration #}
            </h3>
            <ul class="tabs">
                <li class="active">
                    <a href="#data" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-list-ul"></i></a>
                </li>
                <li>
                    <a href="#filter" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-search"></i></a>
                </li>
            </ul>
        </div>
        <div class="box-content nopadding">
            {% set batchactions = admin.batchactions %}
            <div class="tab-content nopadding tab-content-inline tab-content-bottom">
                <div class="tab-pane active" id="data">
                    <div {% if not app.request.isxmlhttprequest %}class="rz-admin-list-main-data"{% endif %}>
                        {% if admin.hasRoute('batch') %}
                        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" class="rz-datagird-form rz-masonry">
                            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            {% if not app.request.isxmlhttprequest %}
                                <div class="rz-admin-list-main-data-toolbar">
                                    <a href="#"
                                       class="btn"
                                       id="rz-admin-list-settings-batch-action-trigger"
                                       title="Action"
                                       data-toggle="popover"
                                       data-trigger="click"
                                            {% if batchactions|length > 0  %}
                                        {% block table_batch %}
                                            data-content="{% include admin.getTemplate('rz_list_table_batch') %}"
                                        {% endblock table_batch %}
                                            {% endif %}>
                                        <i class="icon-wrench"></i><span class="hidden-phone hidden-tablet visible-desktop">Action</span>
                                    </a>
                                    <a href="#"
                                       class="btn"
                                       id="rz-admin-list-settings-download-action-trigger"
                                       title="Export"
                                       data-toggle="popover"
                                       data-trigger="click"
                                            {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                        {% block table_download %}
                                            data-content="{% include admin.getTemplate('rz_list_table_download') %}"
                                        {% endblock  table_download %}
                                            {% endif %}>
                                        <i class="icon-download-alt"></i><span class="hidden-phone hidden-tablet visible-desktop">Export</span>
                                    </a>
                                    <a href="#"
                                       class="btn"
                                       id="rz-admin-list-settings-per-page-action-trigger"
                                       title="Per Page"
                                       data-toggle="popover"
                                       data-trigger="click"
                                            {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                        {% block  table_per_page %}
                                            data-content="{% include admin.getTemplate('rz_list_table_per_page') %}"
                                        {% endblock  table_per_page %}
                                            {% endif %}>
                                        <i class="icon-list-ol"></i><span class="hidden-phone hidden-tablet visible-desktop">Pager</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if admin.datagrid.results|length > 0 %}
                                <div class="rz-masonry-container">
                                    <div class="rz-masonry-gallery" data-masonry-options="{ 'isFitWidth': true }">
                                        {% for object in admin.datagrid.results %}
                                            {% include admin.getTemplate('inner_list_row') %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="rz-admin-list-no-result rz-masonry-container {% if not app.request.isxmlhttprequest %}rz-admin-list-no-result-container{% endif %}">
                                    <div class="alert">
                                        <strong>{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</strong>
                                    </div>
                                </div>
                            {% endif %}
                            {% if not app.request.isxmlhttprequest %}
                                {{   block('list_settings') }}
                            {% endif %}
                            {% if admin.hasRoute('batch') %}
                        </form>
                        {% endif %}
                    </div>
                    {% block table_footer %}
                        {% include admin.getTemplate('rz_list_table_footer') %}
                    {% endblock %}
                </div>
                <div class="tab-pane" id="filter">
                    {{ block('media_filters')}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock list_table_standard %}

{% block media_provider_selector %}{% endblock media_provider_selector %}

{% block actions %}{% endblock actions %}


{% block media_filters %}
 {% if admin.datagrid.filters %}
     <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }} form-vertical form-bordered" action="{{ admin.generateUrl('list') }}" method="GET">
         {% for filter in admin.datagrid.filters %}
             <div class="control-group" id="filter_{{ filter.name }}_row">
                 <div class="row-fluid">
                     <div class="span3">
                         <label class="control-label">{{ admin.trans(filter.label) }}</label>
                     </div>
                     <div class="span3">
                         <div class="controls">
                             {{ form_widget(form.children[filter.formName].children['type']) }}
                         </div>
                     </div>
                     <div class="span6">
                         <div class="controls">
                             {{ form_widget(form.children[filter.formName].children['value']) }}
                         </div>
                     </div>
                 </div>
             </div>
         {% endfor %}

         <input type="hidden" name="filter[_page]" id="filter__page" value="1" />
         {% set foo = form.children['_page'].setRendered() %}
         {{ form_rest(form) }}
         <div class="form-actions">
             <a class="btn btn-primary pull-right rz-admin-filter-reset-button" href="{{ admin.generateUrl('list') }}"><i class="icon-undo"></i> {{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
             <button type="submit" class="btn btn-primary pull-right" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}"><i class="icon-search"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>
         </div>
     </form>
 {% endif %}
{% endblock media_filters %}
