{% extends 'RzAdminBundle:CRUD:base_list_masonry_item.html.twig' %}

{% block masonry_batch %}{% endblock masonry_batch %}

{% block masonry_action %}
    {% if (admin.list.has('batch') or admin.list.has('_action')) and not app.request.isXmlHttpRequest %}
        <div class="row-fluid rz_grid_actions">
            {% if admin.list.has('batch')  %}
                {{ block('masonry_media_batch') }}
            {% endif %}

            {% if admin.list.has('_action') %}
                {{ block('masonry_media_action') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock masonry_action %}

{% block masonry_media_action %}
    <div class="span6 sonata-ba-list-field sonata-ba-list-field-inline-fields" style="text-align: right">
        {{ object|render_list_element(admin.list['_action']) }}
    </div>
{% endblock masonry_media_action %}


{% block masonry_media_batch %}
<div class="span6 sonata-ba-list-field sonata-ba-list-field-batch">
    <label>
        {{ object|render_list_element(admin.list['batch']) }} Delete
    </label>
</div>
{% endblock masonry_media_batch %}


{% block masonry_container %}
    <div class="rz-gallery-item sonata-ba-list-field" objectId="{{ admin.id(object) }}">
        {{ block('masonry_details_row') }}
    </div>
{% endblock masonry_container %}

{% block masonry_details_row %}
    <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}">
        {% thumbnail object.media, 'reference' with {'style':'max-width:200px;', 'height': 'auto'} %}
    </a>
    <div class="extras">
        <div class="extras-inner">
            <span class="batch">{{ object|render_list_element(admin.list['batch']) }}</span>
            <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}">{% if not app.request.isxmlhttprequest %}<i class="icon-pencil"></i>{% else %}<i class="icon-ok"></i>{% endif %}</a>
            {% if not app.request.isxmlhttprequest %}
            <a href="{{ admin.generateUrl('delete', {'id' : object|sonata_urlsafeid }) }}" class='del-gallery-pic'><i class="icon-trash"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
