{% extends 'RzAdminBundle:CRUD:list.html.twig' %}

{% block actions %}{% endblock %}

{% block list_no_result %}
	<div class="info-box">
		<span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
			<div class="progress">
				<div class="progress-bar" style="width: 0%"></div>
			</div>
			<span class="progress-description"></span>
		</div>
	</div>
{% endblock list_no_result %}

{% block rz_admin_content %}
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class=""><a href="{{ path('admin_app_news_post_list') }}" aria-expanded="false">{{ 'tab_nav_post'|trans({}, 'SonataNewsBundle') }}</a></li>
			<li class="active"><a href="{{ path('admin_app_news_posthascategory_list')}}" data-toggle="tab" aria-expanded="false">{{ 'tab_nav_post_by_category'|trans({}, 'SonataNewsBundle') }}</a></li>
		</ul>
		<div class="tab-content rz-table-container-tab-content">
			{{ parent() }}
		</div>
	</div>
{% endblock %}

{% block preview %}
	{% if not app.request.get('hide_context') %}
	<ul class="nav nav-pills rz-nav-pills-list">
		{% for category in categories %}
			{% if current_category and category.id == current_category.id %}
				<li class="active"><a class="text-uppercase" href="{{ admin.generateUrl('list', {'site': currentSite.id, 'category': category.id }) }}">{{ category.name }}</a></li>
			{% else %}
				<li><a class="text-uppercase" href="{{ admin.generateUrl('list', {'site': currentSite.id, 'category': category.id }) }}">{{ category.name }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}

{% block table_container_attr %}{% endblock table_container_attr %}

{% block list_header %}
	<div class="box-header with-border">
		<h3 class="box-title">
			<i class="fa fa-fw fa-globe fa-lg"></i>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<strong class="text-info">{{ currentSite.name }}</strong> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% for site in sites %}
						<li>
							<a href="{% if current_category %}{{ admin.generateUrl('list', { 'site': site.id, 'category': current_category.id }) }}{% else %}{{ admin.generateUrl('list', { 'site': site.id }) }}{% endif %}">
								{% if currentSite and site.id == currentSite.id %}
									<span class="pull-right">
	                                    <i class="fa fa-check"></i>
	                                </span>
								{% endif %}
								{{ site.name }}
							</a>
						</li>
					{% endfor%}
				</ul>
			</div>
		</h3>
	</div>
{% endblock %}