{% extends 'RzAdminBundle:CRUD:list.html.twig' %}

{% block rz_admin_content %}
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class=""><a href="{{ path('admin_app_news_post_list') }}" aria-expanded="false">{{ 'tab_nav_post'|trans({}, 'SonataNewsBundle') }}</a></li>
			<li class="active"><a href="{{ path('admin_app_news_posthascategory_list')}}" data-toggle="tab" aria-expanded="false">{{ 'tab_nav_post_by_category'|trans({}, 'SonataNewsBundle') }}</a></li>
		</ul>
		<div class="tab-content rz-table-container-tab-content">
			{{ parent() }}
		</div>
	</div>
{% endblock %}

{% block preview %}
	{% if not app.request.get('hide_context') %}
	<ul class="nav nav-pills rz-nav-pills-list">
		{% for category in categories %}
			{% if current_category and category.id == current_category.id %}
				<li class="active"><a class="text-uppercase" href="{{ admin.generateUrl('list', {'category': category.id }) }}">{{ category.name }}</a></li>
			{% else %}
				<li><a class="text-uppercase" href="{{ admin.generateUrl('list', {'category': category.id }) }}">{{ category.name }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}