{% extends 'RzAdminBundle:CRUD:list.html.twig' %}

{% block rz_admin_content %}
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class=""><a href="{{ path('admin_app_news_post_list') }}" aria-expanded="false">{{ 'tab_nav_post'|trans({}, 'SonataNewsBundle') }}</a></li>
			<li class="active"><a href="{{ path('admin_app_news_posthascategory_list')}}" data-toggle="tab" aria-expanded="false">{{ 'tab_nav_post_by_category'|trans({}, 'SonataNewsBundle') }}</a></li>
		</ul>
		<div class="tab-content rz-table-container-tab-content">
			{{ parent() }}
		</div>
	</div>
{% endblock %}

{% block list_table %}
	<div class="col-xs-12 col-sm-12 col-md-4">
		<div class="box box-widget widget-user-2">
			<div class="widget-user-header bg-aqua-active">
				<div class="widget-user-image">
					<img class="img-circle" src="{{ asset('bundles/rznews/images/news-placeholder.jpg') }}" alt="User Avatar">
				</div>
				<h3 class="widget-user-username"> {{ admin.trans('category_menu_header', {}, admin.translationdomain) }}</h3>
				<h5 class="widget-user-desc"> {{ admin.trans('category_menu_header_description', {}, admin.translationdomain) }}</h5>
			</div>
			<div class="box-body">
				<ul class="nav nav-stacked">
					{% for category in categories %}
						{% if current_category and category.id == current_category.id %}
							<li><a class="text-uppercase" href="{{ admin.generateUrl('list', { 'category': category.id }) }}">{{ category.name }}<span class="pull-right badge bg-aqua-active"><i class="fa fa-fw fa-check-circle-o"></i></span></a></li>
						{% else %}
							<li><a class="text-uppercase" href="{{ admin.generateUrl('list', {'category': category.id }) }}">{{ category.name }}</a></li>
						{% endif %}
					{% else %}
						<li><a class="text-uppercase" href="#">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-8 rz-col">
		{% block list_inner_table %}
			{{ parent() }}
		{% endblock list_inner_table %}
	</div>
{% endblock %}