{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if context.getSetting('mode') == 'admin' %}
        <div class="box box-color box-bordered green">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    {% if settings.title %}<h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>{% endif %}
                </h3>
            </div>
            <div class="box-content">
                <ul class="sonata-blog-post-container rz-block-news-post-container">
                    {% for post in pager.getResults() %}
                        <li>
                            <h4 class="post-title">
                                <a href="{{ url('admin_sonata_news_post_edit', { 'id': post.id }) }}">{{ post.title }}</a>
                            </h4>
                            <div class="post-meta">
                                    <span class="author">
                                        {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}
                                    </span>
                                    <span class="date">
                                        | {{ post.publicationDateStart | format_date }} |
                                    </span>
	                                <span class="label label-important">{{ post.viewCount }} VIEWS</span>
                            </div>
                        </li>
                    {% else %}
                        <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="sonata-news-block-recent-post rz-block-news-recent-post">
            {% if settings.title %}
                <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
            {% endif %}

            <ul class="sonata-blog-post-container rz-block-news-post-container">
                {% for post in pager.getResults() %}
                    <li><a href="{{ url('rz_news_view', { 'permalink': post.slug, '_format' : 'html' }) }}">{{ post.title }}</a> - {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} - {{ post.publicationDateStart | format_date }}</li>
                {% else %}
                    <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
