{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.title %}
        <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
    {% endif %}
    <ul class="icons">
        {% for collection in collections %}
            <li class="marg-left-minus5"><i class="icon-angle-right  "></i><a href="{{ url('sonata_news_collection', { 'collection': collection.slug } ) }}">{{ collection.name }}</a> <span class="badge">{{  collection.collectionCount }}</span></li>
        {% else %}
            <p>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</p>
        {% endfor %}
    </ul>
    <div class="pad20"></div>
{% endblock %}