{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.block_type is defined and settings.block_type == 'sidebar' %}
        {% if posts %}
            {% if settings.title %}
                 <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
            {% endif %}
            <ul class="media-list blog recent-post-sidebar">
                {% for post in posts %}
                    <li>
                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a> <br/>
                        <small>{{ post.publicationDateStart | format_date }} | {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</small>
                    </li>
                {% else %}
                    <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
                {% endfor %}
            </ul>
            <div class="pad20"></div>
        {% endif %}
    {% else %}
    <div class="container-fluid">
        <div class="row-fluid rz-news-featured-post">
            {% if posts %}
                {% if settings.title %}
                    <h3 class="line center">{{ settings.title }}</h3>
                {% endif %}
                <div class="row-fluid rz-news-featured-post-row">
                    {% set postCount = posts|length %}
                    {% if postCount > 4 %}
                        {% set span = 4 %}
                    {% else %}
                        {% set span = 12//postCount %}
                    {% endif %}
                    {% for post in posts %}
                        <div class="span{{ span }} rz-news-featured-post-content">
                            <div class="rz-news-featured-post-item">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.abstract }}</p>

                            </div>
                            <div class="rz-news-featured-post-read-more">
                                <a class="btn btn-rzcms-theme" href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">Read</a>
                            </div>
                        </div>
                    {% else %}
                        {# no elements #}
                    {% endfor %}
                </div>
            {% else %}
                <p>Settings for featured post is not yet set.</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            console.log('rommel');
            jQuery(".rz-news-featured-post-row").eqHeight(".rz-news-featured-post-item");
        });
    </script>
    {% endif %}
{% endblock %}
