{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.block_type is defined and settings.block_type == 'sidebar' %}
        {% if settings.title %}
            <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
        {% endif %}
        <ul class="media-list blog recent-post-sidebar">
            {% for post in pager.getResults() %}
                <li>
                    <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a><br/>
                    <small>{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</small>
                    <small>{{ post.publicationDateStart | format_date }}</small>
                </li>
            {% else %}
                <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
            {% endfor %}
        </ul>
        <a class="btn btn-rzcms-theme" href="{{ url('sonata_news_archive') }}"> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
        <div class="pad20"></div>
    {% else %}
    <div class="sonata-news-block-recent-post rz-block-news-recent-post">
        {% if settings.title %}
            <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
        {% endif %}

        <ul class="sonata-blog-post-container rz-block-news-post-container">
            {% for post in pager.getResults() %}
                {% if context.getSetting('mode') == 'admin' %}
                    <li>
                        <h4 class="post-title">
                            <a href="{{ url('admin_sonata_news_post_edit', { 'id': post.id }) }}">{{ post.title }}</a>
                        </h4>
                        <div class="post-meta">
                            <span class="author">
                                {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}
                            </span>
                            <span class="date">
                                | {{ post.publicationDateStart | format_date }} |
                            </span>
                            {% if post.ispublic %}
                                <span class="label label-success">{{ 'post_is_public'|trans({}, 'SonataNewsBundle') }}</span>
                            {% else %}
                                <span class="label">{{ 'post_is_not_public'|trans({}, 'SonataNewsBundle') }}</span>
                            {% endif %}
                        </div>
                    </li>
                {% else %}
                    <li><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a> - {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} - {{ post.publicationDateStart | format_date }}</li>
                {% endif %}
            {% else %}
                <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
            {% endfor %}
        </ul>

        {% if context.getSetting('mode') == 'admin' %}
            <a href="{{ url('admin_sonata_news_post_list') }}" class="btn pull-right"><i class="icon-list icon-white"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
        {% else %}
            <a href="{{ url('sonata_news_archive') }}"> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
