{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if context.getSetting('mode') == 'admin' %}
        <div class="box box-color box-bordered green">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    {% if settings.title %}<h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>{% endif %}
                </h3>
            </div>
            <div class="box-content">
                <ul class="sonata-blog-post-container rz-block-news-post-container">
                    {% for post in pager.getResults() %}
                        <li>
                            <h4 class="post-title">
                                <a href="{{ url('admin_sonata_news_post_edit', { 'id': post.id }) }}">{{ post.title }}</a>
                            </h4>
                            <div class="post-meta">
                                    <span class="author">
                                        {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}
                                    </span>
                                    <span class="date">
                                        | {{ post.publicationDateStart | format_date }} |
                                    </span>
                                {% if post.ispublic %}
                                    <span class="label label-success">{{ 'post_is_public'|trans({}, 'SonataNewsBundle') }}</span>
                                {% else %}
                                    <span class="label">{{ 'post_is_not_public'|trans({}, 'SonataNewsBundle') }}</span>
                                {% endif %}
                            </div>
                        </li>
                    {% else %}
                        <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
                    {% endfor %}
                </ul>

                <a href="{{ url('admin_sonata_news_post_list') }}" class="btn pull-right"><i class="icon-list icon-white"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
            </div>
        </div>
    {% else %}
        {% if settings.block_type is defined and settings.block_type == 'sidebar' %}
            {% if settings.title %}
                <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
            {% endif %}
            <ul class="media-list blog recent-post-sidebar">
                {% for post in pager.getResults() %}
                    <li>
                        <a href="{{ url('rz_news_view', { 'permalink': post.slug, '_format' : 'html' }) }}">{{ post.title }}</a><br/>
                        <small>{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</small>
                        <small>{{ post.publicationDateStart | format_date }}</small>
                    </li>
                {% else %}
                    <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
                {% endfor %}
            </ul>
            {% if settings.show_view_all_button == 'true' %}
                <a class="btn btn-rzcms-theme" href="{{ url('rz_news_archive', {'_format': 'html'}) }}"> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
            {% endif %}
            <div class="pad20"></div>
        {% else %}
            <div class="sonata-news-block-recent-post rz-block-news-recent-post">
                {% if settings.title %}
                    <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
                {% endif %}

                <ul class="sonata-blog-post-container rz-block-news-post-container">
                    {% for post in pager.getResults() %}
                        <li><a href="{{ url('rz_news_view', { 'permalink': post.slug, '_format' : 'html' }) }}">{{ post.title }}</a> - {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} - {{ post.publicationDateStart | format_date }}</li>
                    {% else %}
                        <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ url('rz_news_archive', {'_format': 'html'}) }}"> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
