{% extends sonata_block.templates.block_base %}

{% block block %}
{% if pager.getCurrentPageResults() | length > 0 %}
<div class="row-fluid post-container">
	<div class="span12">
	{% if settings.title %}
		<h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
	{% endif %}
	<div class="row-fluid">
		{% for post in pager.getCurrentPageResults() %}
			{% if category is defined and enable_category_canonical_page is defined and enable_category_canonical_page == true %}
				{% set post_url = url('rz_news_category_view', { 'category':  rz_classification_category_permalink(category), 'permalink': post.slug, '_format': 'html' }) %}
			{% else %}
				{% set post_url = url('rz_news_view', { 'permalink': post.slug, '_format': 'html' }) %}
			{% endif %}
			<div class="span4" {% if loop.index0 % 4 == 0 %}style="margin-left: 0px;"{% endif %}>
				<div class="imgBox">
					<a href="{{ post_url }}">
						{% if post.image %}
							{% if post.image.providerName  == 'sonata.media.provider.image' %}
								{% media post.image, 'thumbnail' with{ 'class': 'article-class-' ~ post.id, 'title': post.title, 'alt': post.title } %}
							{% else %}
								<div class="vendor">
									{% media post.image, 'preview' %}
								</div>
							{% endif %}
						{% else %}
							<img src="{{  asset('bundles/rznews/img/placeholder.jpg')}}" alt=""/>
						{% endif %}
					</a>
				</div>
				<div class="contBox">
					<a href="{{ post_url }}"><h1>{{ post.title }}</h1></a>
					{% if post.abstract %}
					<p>{{ post.abstract | raw  }}</p>
					{% endif %}
				</div>
			</div>
			{% if loop.index % 3 == 0 %}<div class="clearfix"></div>{% endif %}
		{% else %}
			{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
		{% endfor %}
	</div>
	</div>
</div>
{% endif %}
{% endblock %}