{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.title %}
        <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
    {% endif %}
    <ul class="media-list blog recent-post-sidebar">
        {% for tag in tags %}
            <span class="badge"><a href="{{ url('rz_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a> {{ tag.tagCount }}</span>
        {% else %}
            <p>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</p>
        {% endfor %}
    </ul>
    <div class="pad20"></div>
{% endblock %}
