{% if admin.hasRoute('edit') and admin.id(object) and admin.isGranted('EDIT', object)%}
<li>
    <a class="sonata-action-element" href="{{ path('admin_sonata_news_post_edit', {'id':object.id}) }}"><i class="icon-reorder"></i> {{ 'sidemenu.link_edit_post'|trans({}, 'RzNewsBundle') }}</a>
</li>
<li>
    <a class="sonata-action-element" href="{{ path('admin_sonata_news_post_comment_list', {'id':object.id}) }}"><i class="icon-rss"></i> {{ 'sidemenu.link_view_comments'|trans({}, 'RzNewsBundle') }}</a>
</li>
<li>
    <a class="sonata-action-element" href="{{ path('admin_sonata_news_post_show', {'id':object.id}) }}"><i class="icon-magic"></i> {{ 'sidemenu.link_view_post'|trans({}, 'RzNewsBundle') }}</a>
</li>
{% endif %}
