{#

This file is part of the Rz package.

(c) mell m. zamora <me@rmzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set sortable = false %}
{% if field_description.options.sortable is defined and field_description.options.sortable%}
    {% set sortable             = true %}
    {% set current              = admin.datagrid.values._sort_by == field_description %}
    {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
    {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
    {% set sort_by                  = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
{% endif %}

{% spaceless %}
    <span class="sonata-ba-list-field-header-{{ field_description.type}}
               {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}
               {% if field_description.options.footable is defined and field_description.options.footable.attr.data_hide is not defined %}rz-admin-list-main{% endif %}"
            {% if field_description.options.footable is defined and field_description.options.footable.attr.data_hide is defined %} data-hide="{{ field_description.options.footable.attr.data_hide }}"{% endif %} >
        {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
            {{ admin.trans(field_description.label) }}
            {% if sortable %}</a>{% endif %}
    </span>
{% endspaceless %}
