{% extends 'RzAdminBundle:CRUD:list.html.twig' %}

{% block rz_admin_content %}
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{{ path('admin_app_news_post_list') }}" data-toggle="tab" aria-expanded="false">{{ 'tab_nav_post'|trans({}, 'SonataNewsBundle') }}</a></li>
			<li class=""><a href="{{ path('admin_app_news_posthascategory_list')}}"  aria-expanded="false">{{ 'tab_nav_post_by_category'|trans({}, 'SonataNewsBundle') }}</a></li>
		</ul>
		<div class="tab-content rz-table-container-tab-content">
			{{ parent() }}
		</div>
	</div>
{% endblock %}

{% block table_container_attr %}{% endblock table_container_attr %}

{% block preview %}
	{% if not app.request.get('hide_collection') %}
	<ul class="nav nav-pills rz-nav-pills-list">
		{% for collection in collections %}
			{% if current_collection and collection.slug == current_collection.slug %}
				<li class="active"><a class="text-uppercase" href="{{ admin.generateUrl('list', { 'collection': collection.slug }) }}">{{ collection.name }}</a></li>
			{% else %}
				<li><a class="text-uppercase" href="{{ admin.generateUrl('list', { 'collection': collection.slug }) }}">{{ collection.name }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}