{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-2">
            {% if object.image and admin.isGranted('VIEW', object.image) %}
                {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
					<div{% if object.image.getProviderName() != 'sonata.media.provider.image' and object.image.getProviderName() != 'sonata.media.provider.file' %} class="embed-responsive embed-responsive-16by9"{% endif %}>
                        <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}">{% media object.image, 'admin' with {'height': 150} %}</a>
					</div>
                {% else %}
                    {% thumbnail object.image, 'admin' with {'width': 150} %}
                {% endif %}
            {% else %}
	            <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}"><img style="width: 150px" src="{{ asset('bundles/rznews/images/placeholder_600x400.svg') }}"/></a>
            {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10">
        {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
            <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}"><strong><i class="fa fa-info-circle"></i> {{ object.title }}</strong></a>
        {% else %}
            <strong><i class="fa fa-info-circle"></i> {{ object.title }}</strong>
        {% endif %}

        {% if object.author %}
            ~ <span class="badge bg-light-blue"><i class="fa fa-user"></i> {{ object.author.username }}</span>
        {% endif %}
        <br />

        <i class="fa fa-file-text"></i>  {{ object.abstract|truncate(150) }}

        <br />
        {% if object.publicationDateStart %}
            <i class="fa fa-calendar"></i> {{ object.publicationDateStart|date("m/d/Y") }}
        {% endif %}
    </div>
</div>
{% endblock %}
