{% extends 'RzAdminBundle:CRUD:base_list.html.twig' %}

{% block list_table_standard %}
    <div class="box box-color box-bordered">
        <div class="box-title">
            <ul class="tabs">
                <li class="active">
                    <a href="#data" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-list-ul"></i></a>
                </li>
                <li>
                    <a href="#filter" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-filter"></i></a>
                </li>
            </ul>
        </div>
        <div class="box-content nopadding">
            {% set batchactions = admin.batchactions %}
            <div class="tab-content nopadding tab-content-inline tab-content-bottom">
                <div class="tab-pane active" id="data">
                    <div class="rz-admin-list-main-data">
                        {% if admin.hasRoute('batch') %}
                        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" class="rz-datagird-form">
                            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="rz-admin-list-main-data-toolbar">
                                {{ admin.trans('collection_title') }}
                                {% if not app.request.get('hide_collection') %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <strong class="text-info">{{ current_collection.name|trans({}, admin.translationdomain) }}</strong> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for collection in collections %}
                                                <li>
                                                    <a class="rz-admin-filter-reset-button" href="{{ admin.generateUrl('list', { 'collectionId': collection.id,  'filter': { 'site': { 'value': collection.id|default('') } } } ) }}">
                                                        {% if current_collection and collection.id == current_collection.id %}
                                                            <i class="icon-circle"></i>
                                                        {% else %}
                                                            <i class="icon-circle-blank"></i>
                                                        {% endif %}
                                                        {{ collection.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <strong class="text-info">{{ current_collection.name }}</strong> <span class="caret"></span>
                                        </button>
                                    </div>
                                {% endif %}

                                {% if not app.request.isxmlhttprequest %}
                                    {% if admin.hasRoute('batch') %}
                                        <a href="#"
                                           class="btn"
                                           id="rz-admin-list-settings-batch-action-trigger"
                                           title="Action"
                                           data-toggle="popover"
                                           data-trigger="click"
                                                {% if batchactions|length > 0  %}
                                            {% block table_batch %}
                                                data-content="{% include admin.getTemplate('rz_list_table_batch') %}"
                                            {% endblock table_batch %}
                                                {% endif %}>
                                            <i class="icon-wrench"></i><span class="hidden-phone hidden-tablet visible-desktop">Action</span>
                                        </a>
                                    {% endif %}
                                    {% if admin.hasRoute('export') %}
                                        <a href="#"
                                           class="btn"
                                           id="rz-admin-list-settings-download-action-trigger"
                                           title="Export"
                                           data-toggle="popover"
                                           data-trigger="click"
                                                {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                            {% block table_download %}
                                                data-content="{% include admin.getTemplate('rz_list_table_download') %}"
                                            {% endblock  table_download %}
                                                {% endif %}>
                                            <i class="icon-download-alt"></i><span class="hidden-phone hidden-tablet visible-desktop">Export</span>
                                        </a>
                                    {% endif %}
                                    <a href="#"
                                       class="btn"
                                       id="rz-admin-list-settings-per-page-action-trigger"
                                       title="Per Page"
                                       data-toggle="popover"
                                       data-trigger="click"
                                            {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                        {% block  table_per_page %}
                                            data-content="{% include admin.getTemplate('rz_list_table_per_page') %}"
                                        {% endblock  table_per_page %}
                                            {% endif %}>
                                        <i class="icon-list-ol"></i><span class="hidden-phone hidden-tablet visible-desktop">Pager</span>
                                    </a>
                                {% endif %}
                            </div>
                            {% if admin.datagrid.results|length > 0 %}
                                <table class="table table-hover table-nomargin with-check footable">
                                    {% block table_header %}
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            {% include admin.getTemplate('rz_list_inner_row_header') %}
                                        </tr>
                                        </thead>
                                    {% endblock %}

                                    {% block table_body %}
                                        <tbody>
                                        {% for object in admin.datagrid.results %}
                                            <tr>
                                                {% include admin.getTemplate('inner_list_row') %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endblock %}
                                </table>
                                {% block table_footer %}
                                    {% include admin.getTemplate('rz_list_table_footer') %}
                                {% endblock %}
                            {% else %}
                                <div class="rz-admin-list-no-result {% if not app.request.isxmlhttprequest %}rz-admin-list-no-result-container{% endif %}">
                                    <div class="alert alert-success">
                                        <strong>{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</strong>
                                    </div>
                                </div>
                            {% endif %}
                            {% if not app.request.isxmlhttprequest %}
                                {{   block('list_settings') }}
                            {% endif %}
                            {% if admin.hasRoute('batch') %}
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane" id="filter">
                    {{ block('list_filters_standard')}}
                </div>
            </div>
        </div>
    </div>
{% endblock list_table_standard %}